* {
    box-sizing: border-box;    
}

header {
    height: 100px;
    background-color: grey;
}
h1,h2,h3 {
    text-align: center;
}

main {
    width: 90%;
    height: 400px;
    margin: 0 auto;
}
.main-imagen {
    display: inline-block;
    height: 100%;
    width: 20%;
    margin: 0;
}
.main-texto {
    display: inline-block;
    height: 100%;
    width: 79%;
    margin: 0;
}

footer {
    height: 50px;
    background-color:red;
}
.box {
    border: 1px red solid;
}